h1 {
color: red;
font-size:  30px;

}
.bleu{
color: blue;
}

.fontSize {
    font-size: 50px;
}
.bgPinK {
    background-color: pink;
}

span {
    background-color: yellow;
}

.bouton {
    background-color: orange; /*Je met un fond orange*/
    font-size: 30px; /*taille de la police*/
    color: white; /*couleur du texte  */
    text-decoration: none; /*retirer la ligne, retirer la décoration du texte*/
    border-radius: 10px; /*créer un arrondi de 10px*/ 
    padding: 10px 90px 40px 50px; /*marge intérieur du bloc*/
    border: 4px red solid; /*gestion de la bordure, épaisseur, type de ligne*/
    
  } 
  
  .textCenter{
   text-align: center; /* centrer le texte */
}

.textbleu{
color: blue;
}

/*  */